<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="889b97">  <td>23/02/27 12:34:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoShopTestNG.giftCardsTest()[pri:4, instance:org.testng.DemoShopTestNG@58d75e99]">giftCardsTest</td> 
  <td>main@45023307</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>23/02/27 12:34:13</td>   <td>-20192</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DemoShopTestNG.setup()[pri:0, instance:org.testng.DemoShopTestNG@58d75e99]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@45023307</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>23/02/27 12:34:26</td>   <td>-6967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoShopTestNG.electronicsTest()[pri:3, instance:org.testng.DemoShopTestNG@58d75e99]">electronicsTest</td> 
  <td>main@45023307</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>23/02/27 12:34:36</td>   <td>3186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoShopTestNG.logoutTest()[pri:5, instance:org.testng.DemoShopTestNG@58d75e99]">logoutTest</td> 
  <td>main@45023307</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>23/02/27 12:34:20</td>   <td>-12716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoShopTestNG.booksTest()[pri:2, instance:org.testng.DemoShopTestNG@58d75e99]">booksTest</td> 
  <td>main@45023307</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>23/02/27 12:34:37</td>   <td>3960</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DemoShopTestNG.closedown()[pri:0, instance:org.testng.DemoShopTestNG@58d75e99]">&lt;&lt;closedown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@45023307</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>23/02/27 12:34:17</td>   <td>-16372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoShopTestNG.loginTest()[pri:1, instance:org.testng.DemoShopTestNG@58d75e99]">loginTest</td> 
  <td>main@45023307</td>   <td></td> </tr>
</table>
